@model eCaST.Models.Message

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Message</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MessageName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MessageName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Action)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Action)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Controller)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Controller)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Administrative)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Administrative)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MessageTypeBinID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MessageTypeBinID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MessageID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
