@model EncaustiCreations.Models.Screen

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Screen</legend>

    <div class="display-label">ScreenName</div>
    <div class="display-field">@Model.ScreenName</div>

    <div class="display-label">Active</div>
    <div class="display-field">@Model.Active</div>

    <div class="display-label">DateUpdated</div>
    <div class="display-field">@String.Format("{0:g}", Model.DateUpdated)</div>

    <div class="display-label">UpdatedBy</div>
    <div class="display-field">@Model.UpdatedBy</div>

    <div class="display-label">DateCreated</div>
    <div class="display-field">@String.Format("{0:g}", Model.DateCreated)</div>

    <div class="display-label">CreatedBy</div>
    <div class="display-field">@Model.CreatedBy</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


