@model IEnumerable<eCaST.ViewModels.ScreenProcedureViewModel>

@{
    ViewBag.Title = "Index";
}


<div class="btn-group" role="group" aria-label="...">

  
   

        <button style="background-color:#F5F5F5" id="AllProcedureEditButton" type="button" class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i></button>
        <button style="background-color:#F5F5F5" type="button" class="btn btn-default"><i class="fa fa-dashboard" aria-hidden="true"></i>&nbsp; Procedures</button>

 
      
     @foreach (var item in Model)
     {

         if (item.ProcMessageCount > 0)
         {


            <button style="background-color:lightsteelblue;color:#fff" id="ProcButton_@item.ScreenProcedureID" type="button" class="btn btn-default">

                @item.ProcedureMethodBinName<text>&nbsp;</text> @Html.FormatValue(item.ProcedureDate, "{0:MM/dd/yyyy}")<text>&nbsp;</text> @item.ProcedureResultBinShortName<text>&nbsp;$</text> @item.FundingSourceBinName

            </button>


         }
         else
         {


            <button id="ProcButton_@item.ScreenProcedureID" type="button" class="btn btn-default">

                @item.ProcedureMethodBinName<text>&nbsp;</text> @Html.FormatValue(item.ProcedureDate, "{0:MM/dd/yyyy}")<text>&nbsp;</text> @item.ProcedureResultBinShortName<text>&nbsp;$</text> @item.FundingSourceBinName

            </button>


         }




    <script type="text/javascript">


        $('#ProcButton_@item.ScreenProcedureID').click(function () {


         $('#AccordionContentContainer').load('@Url.Action("Edit", "ScreenProcedures", new { id = item.ScreenProcedureID, id2 = item.ProcedureTypeBinID })');

            $('#AccGlowContainer').addClass("glowdiv");
            // Lock Screen
            $("#txtSearch").attr("disabled", "disabled");
            $('#EditMessageContainer').css("display", "block");
            $('#ScreeningToolbarContainer').css("display", "none");
            $('#FooterMenuBarContainer').css("display", "none");
            $('#ScreenProcedureListContainer').load('@Url.Action("_StaticScreenProcedureList", "ScreenProcedures", new { id = ViewBag.ScreeningID, id2 = ViewBag.CancerTypeBinID })');

            $('#HomeLinkContainer').css("display", "none");
            $('#HomeNoLinkContainer').css("display", "block");

            $("#ClientButton").attr("disabled", "disabled");
            $("#ClientButton").css("opacity", "0.5");

            $("#ScreeningButton").attr("disabled", "disabled");
            $("#ScreeningButton").css("opacity", "0.5");

            $("#EnrollmentEdit0Button").attr("disabled", "disabled");
            $("#EnrollmentEdit0Button").css("opacity", "0.5");

            // $("#ProfileButtonDown").attr("disabled", "disabled");
            $('#ProfileButtonDown').css("display", "none");
            $("#ProfileButtonDown").css("opacity", "0.5");

            $("#ClientHistoryButton").attr("disabled", "disabled");
            $("#ClientHistoryButton").css("opacity", "0.5");

            $("#SmallProfileButton").attr("disabled", "disabled");
            $("#SmallProfileButton").css("opacity", "0.5");

            $("#SmallScreeningButton").attr("disabled", "disabled");
            $("#SmallScreeningButton").css("opacity", "0.5");

            $("#SmallEnrollmentButton").attr("disabled", "disabled");
            $("#SmallEnrollmentButton").css("opacity", "0.5");

            $("#SmallLocationButton").attr("disabled", "disabled");
            $("#SmallLocationButton").css("opacity", "0.5");

            $("#ClientEditButton").attr("disabled", "disabled");
            $("#ClientEditButton").css("opacity", "0.5");

            $("#EnrollmentEditButton").attr("disabled", "disabled");
            $("#EnrollmentEditButton").css("opacity", "0.5");

            $("#MedicalHistoryEditButton").attr("disabled", "disabled");
            $("#MedicalHistoryEditButton").css("opacity", "0.5");

        });


    $(function () {


        if ('@ViewBag.ExpiredScreenChecker' == 1) {



            $("#ProcButton_@item.ScreenProcedureID").attr("disabled", "disabled");
            $("#ProcButton_@item.ScreenProcedureID").css("opacity", "0.5");

            $("#AllProcedureEditButton").attr("disabled", "disabled");
            $("#AllProcedureEditButton").css("opacity", "0.5");




        }
        else {

            $("#ProcButton_@item.ScreenProcedureID").removeAttr("disabled", "disabled");
            $("#ProcButton_@item.ScreenProcedureID").css("opacity", "1.0");

            $("#AllProcedureEditButton").removeAttr("disabled", "disabled");
            $("#AllProcedureEditButton").css("opacity", "1.0");

        }

    });




        </script>




    }

</div>


<script type="text/javascript">


    $('#AllProcedureEditButton').click(function () {


        $('#AccordionContentContainer').load('@Url.Action("Create", "ScreenProcedures", new { id = ViewBag.ScreeningID, id2 = 2 })');

        // Lock Screen
        $('#AccGlowContainer').addClass("glowdiv");
        $('#EditMessageContainer').css("display", "block");
        $('#ScreeningToolbarContainer').css("display", "none");
        $('#FooterMenuBarContainer').css("display", "none");
        $('#ScreenProcedureListContainer').load('@Url.Action("_StaticAllScreensProcedureList", "ScreenProcedures", new { id = ViewBag.ScreeningID, id2 = ViewBag.CancerTypeBinID })');

        $('#HomeLinkContainer').css("display", "none");
        $('#HomeNoLinkContainer').css("display", "block");

        $("#ClientButton").attr("disabled", "disabled");
        $("#ClientButton").css("opacity", "0.5");

        $("#ScreeningButton").attr("disabled", "disabled");
        $("#ScreeningButton").css("opacity", "0.5");

        $("#EnrollmentEdit0Button").attr("disabled", "disabled");
        $("#EnrollmentEdit0Button").css("opacity", "0.5");

        // $("#ProfileButtonDown").attr("disabled", "disabled");
        $('#ProfileButtonDown').css("display", "none");
        $("#ProfileButtonDown").css("opacity", "0.5");

        $("#ClientHistoryButton").attr("disabled", "disabled");
        $("#ClientHistoryButton").css("opacity", "0.5");

        $("#SmallProfileButton").attr("disabled", "disabled");
        $("#SmallProfileButton").css("opacity", "0.5");

        $("#SmallScreeningButton").attr("disabled", "disabled");
        $("#SmallScreeningButton").css("opacity", "0.5");

        $("#SmallEnrollmentButton").attr("disabled", "disabled");
        $("#SmallEnrollmentButton").css("opacity", "0.5");

        $("#SmallLocationButton").attr("disabled", "disabled");
        $("#SmallLocationButton").css("opacity", "0.5");

        $("#ClientEditButton").attr("disabled", "disabled");
        $("#ClientEditButton").css("opacity", "0.5");

        $("#EnrollmentEditButton").attr("disabled", "disabled");
        $("#EnrollmentEditButton").css("opacity", "0.5");

        $("#MedicalHistoryEditButton").attr("disabled", "disabled");
        $("#MedicalHistoryEditButton").css("opacity", "0.5");

    });




    </script>

