@model IEnumerable<CTL.ViewModels.ContentViewModel>

  

@{
    ViewBag.Title = "Index";
}


<ul class="nav navbar-nav">
    

  
    
    @foreach (var item in Model)
    {

        <li style="padding-top:6px">

            @if (item.SubContentCount > 0)
            {



                <a class="dropdown-toggle" data-toggle="dropdown" style="text-decoration: none; color: #1472b7; font-family: 'Lato', sans-serif; font-size: 16px; padding-top: 10px; z-index: 999; " href="@Url.Action("Details", new { id=item.ContentID })"> @item.ContentTitle<b class="caret"></b></a>


                { Html.RenderAction("_SubContentList", "Contents", new { id = item.ContentID }); }


            }
            else
            {

                <a style="text-decoration: none; color: #1472b7; font-size: 16px; font-family: 'Lato', sans-serif; padding-top: 10px; z-index: 999; " href="@Url.Action("Details", new { id=item.ContentID })"> @item.ContentTitle</a>


            }


        </li>




    } 
    
    
   
    
  
  

    <li style="padding-top:8px; padding-left:6px">

        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @style = "Height:12px" }))
        {



            @Html.AntiForgeryToken()
            @Html.Partial("_LogOnPartial")

        }



    </li>
</ul>





   @*<table style="background-color: transparent; width: 100%; border: none"><tr>
       
         @if(Request.IsAuthenticated) {
       
       <td style="vertical-align: bottom; width: 5%; border: none">

     
        @if(@ViewBag.RoleID == 1){

          
            @Html.ActionLink("Dashboard", "Manage", new { Controller = "Dashboards"}, new { @class = "btn btn-success", @style="font-size:24px; color:#fff"}) 
            
        }

        else if (@ViewBag.RoleID == 3)
        {
            
           
         
              @Html.ActionLink("My Account", "PartnerAccount", new { Controller = "Dashboards", id = @ViewBag.UserID }, new { @class = "btn btn-success", @style = "font-size:24px; color:#fff" }) 
            
               
        }
          
        
        
        else{
            
           
         
              @Html.ActionLink("My Account", "UserAccount", new { Controller = "Dashboards", id = @ViewBag.UserID }, new { @class = "btn btn-success", @style = "font-size:24px; color:#fff" }) 
            
               
        }
          
       
    
              </td>
             
             
             
         }

       
else {
             
             
             
         }
             
       
       <td style="padding-bottom: 0px; border: none">


                    <nav class="horizontal-menu">

   <ul> 

@foreach (var item in Model) {
    
    
    
    
    
        <li>


              @if (item.SubContentCount > 0){
                  
                  
                
                       
                  <a class="dropdown-toggle" style="text-decoration: none; color: #1472b7; font-size: 24px; padding-top: 10px; z-index: 999" href="@Url.Action("Details", new { id=item.ContentID })"> @item.ContentTitle</a>
                       
           
                     

            { Html.RenderAction("_SubContentList", "Contents", new { id = item.ContentID });}

                  
                    }
            else{
                
                 <a style="text-decoration: none; color: #1472b7; font-size: 24px; padding-top: 10px; z-index: 999" href="@Url.Action("Details", new { id=item.ContentID })"> @item.ContentTitle</a>
       
                
            }
                  
                  

        </li>
       
    
}

     
  
</ul>
        </nav>

 </td></tr></table>*@