@model IEnumerable<CTL.ViewModels.PostViewModel>


<style type="text/css">

    .toolbar {
    float: left;
}

</style>


<script type="text/javascript">


    $(document).ready(function () {
        /* Initialise the DataTable */
        var oTable = $('#exampleFo').dataTable({
            "oLanguage": {
                "sSearch": "Filter"
            },
            "bPaginate": false,
            "bSort": false,
            "bFilter": false,
            "bAutoWidth": false,
            //"aoColumnDefs": [{ "bVisible": false, "aTargets": [0] }]
            "sDom": '<"toolbar">frtip'
        });

        $("div.toolbar").html('<span style="font-size:18px;padding-left:10px;color:green">Opportunities you are following:</span>');
    });
</script>




@*<style type="text/css">

    table.dataTable td.sorting_1 {
        background-color:#f1e37a;
        border: 0px lightgrey;
    }

    table.dataTable td {
        background-color:#f1e37a;
        border: 0px lightgrey;
    }

    table.dataTable tr.odd {
        background-color: #f1e37a;
        border: 0px lightgrey;
    }

    table.dataTable tr.even {
        background-color: #f1e37a;
        border: 0px lightgrey;
    }

</style>*@






    
    
    @*<div class="alert alert-success"> <h4 style="font-family: 'Lato', sans-serif;padding-left:20px">Opportunities You are currently following:</h4></div>*@ 
   
    
    



    @*<div style="padding-left:20px" class="container"></div>*@





<div id="holder1">
    <table class="display" style="width:100%; font-family: 'Lato', sans-serif;color:#3a53c7;" cellpadding="0" cellspacing="0" border="0" id="exampleFo">
        <thead>
            <tr>
                @*<th></th>*@
                <th></th>
                @*<th></th>*@
            </tr>
        </thead>
        @foreach (var item in Model)
        {


            <tr>


                @*<td>*@


                @*<span style="font-size:48px; color:#2ab029" class="glyphicon glyphicon-random"></span>*@
                @*<div align="center">
                        @Html.Raw(item.OrgPic)
                    </div>*@

                @*</td>*@

                <td style="border:none">


                    <div class="alert alert-success">

                        <div data-role="listview">
                            <div class="list marked" style="text-decoration:none" data-toggle="modal" data-target="#F_@item.PostID" href="#">



                                <div style="width:100%" class="list-content">


                                    <div class="row">


                                        <div class="col-md-12">




                                            <div><h4><b>@item.PostTitle</b> - @Html.Raw(item.PostContent) @{ Html.RenderAction("_AttributeDetail", "Posts", new { id = @item.PostID, id2 = 9 });} Closes: @*@item.ExpirationDate*@  @(((DateTime)item.ExpirationDate).ToString("MM/dd/yyyy"))</h4></div>


                                            @*<div style="font-size:medium;width:96%;overflow-x: auto;">

                                                    @Html.Raw(item.PostContent)


                                                </div>*@

                                            @*<div>


                                                    <div> @{ Html.RenderAction("_AttributeDetail", "Posts", new { id = @item.PostID, id2 = 9 });}</div>

                                                </div>*@


                                            @*<div style="font-size:medium">

                                                    <div>Closes: @(((DateTime)item.ExpirationDate).ToString("MM/dd/yyyy")) </div>


                                                </div>*@





                                            <div align="right">

                                                <ul class="nav nav-pills nav-stacked ">





                                                    <li>
                                                        <a id="PostFDetailButton_@item.PostID" href="#">

                                                            <span class="glyphicon glyphicon-eye-open"></span>View/<span class="glyphicon glyphicon-random"></span>&nbsp;Unfollow
                                                        </a>
                                                    </li>


                                                    @*  <li class="active">
                                                            <a href="#">
                                                                <span class="badge pull-right">2</span>
                                                                Messages
                                                            </a>
                                                        </li>*@




                                                </ul>

                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </div>


                        </div>


                    </div>




                    <!-- Modal -->
                    <div class="modal fade" id="F_@item.PostID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 style="width:100%; font-family: 'Lato', sans-serif;color:#3a53c7;" class="modal-title" id="myModalLabel">@item.PostTitle</h4>
                                </div>
                                <div class="modal-body">

                                    <div id="PostFDetailContainer_@item.PostID"></div>


                                    <script type="text/javascript">

                                        $(function () {


                                            $("#PostFDetailButton_@item.PostID").click(function () {


                                                $('#PostFDetailContainer_@item.PostID').load('@Url.Action("Details", "Posts", new { id = @item.PostID })');



                                            });


                                        });

                                    </script>




                                    <div class="modal-footer">

                                        <div style="width:100%">



                                            @*<div style="padding-top:24px">

                                                    <ul class="nav nav-pills nav-stacked">


                                                        <li class="active">


                                                             <a href="#" data-dismiss="modal">

                                                                Follow Opportunity
                                                            </a>



                                                        </li>


                                                    </ul>






                                                </div>*@

                                        </div>

                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" id="PostCloseButton" class="btn btn-default" data-dismiss="modal">Close</button><br /><br />

                                </div>


                            </div>
                        </div>

                    </div>



                    @*<div style="width:100%"><hr style="height:1px;border:none;color:#ccc;background-color:#ccc;" /></div>*@


                </td>

            </tr>

        }
    </table>
    <br />
    <hr />
    <br />
</div>
