@model IEnumerable<CTL.ViewModels.SiteViewModel>

@{
    ViewBag.Title = "Sites";
}


<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        oTable =
          $('#SiteList').dataTable({
              "bPaginate": false,
              "oLanguage": {
                  "sSearch": "<i class='fa fa-filter fa-fw'></i> Filter: "
              }
          });
    });
</script>


<style type="text/css">
    label, div {
        color: #666;
    }


    #SiteList td.sorting_1 {
        background-color: #fff;
        border: 1px lightgrey;
    }
    /*table.dataTable td{ background-color: aliceblue;  border:1px lightgrey;}*/
    #SiteList tr {
        background-color: #fff;
        color: #666;
    }

        #SiteList tr:nth-child(even) {
            background-color: #f7f7f6;
        }
</style>




<div >
    <div style="background-color:#999" class="panel-heading w3-card-2">
        <span style="color:#fff;font-family: 'Roboto', sans-serif; font-size:16px"><i style="color:#fff" class="fa fa-map-marker fa-fw"></i>&nbsp;Sites &nbsp;<span style="font-size:18px;background-color:#fff;color:#0F9D58" class="badge">@ViewBag.SiteCount</span></span>

        @if (ViewBag.RoleID == 1 || ViewBag.RoleID == 13 )
        {

        <div class="pull-right"><button id="AddSiteButton" type="button" class="btn btn-default btn-sm">Add Site</button></div>

            
        }

    </div>
    <!-- /.panel-heading -->
    <div style="background-color:#fff" class="panel-body">



        <table style="width:100%;  font-size:14px" id="SiteList">
            <thead>
                <tr style="background-color:#f7f7f6;">
                    <th>ID</th>
                    <th>
                        Site Name
                    </th>
                    <th>Program(s)</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @item.SiteID
                    </td>
                    <td>
                        @item.SiteName
                    </td>
                    <td><span>@string.Join(",", item.RoleAList.ToArray())</span></td>
                    <td>

                        @if (item.Active == true)
                        {


                            <span>Activated</span>

                        }
                        else
                        {

                            <span>Inactive</span>


                        }




                    </td>
                    <td style="width:38%; text-align:right">

                     @if (ViewBag.RoleID == 1 || ViewBag.RoleID == 13 )
                     {

                        <button type="button" class="btn btn-default" id="EditSiteInfoButton_@item.SiteID">Edit Info</button>


                  
                        <script type="text/javascript">



                            $(function () {

                                $("#EditSiteInfoButton_@item.SiteID").click(function () {


                                 //   $('#EditSiteInfoContainer_@item.SiteID').load('@Url.Action("Details", "Sites", new { id = @item.SiteID })');
                                    $("#ContentContainer").hide("slide", { direction: "right" }, 500);
                                    $(".se-pre-con").fadeIn("slow");
                                    $("#ContentContainer").load("@Url.Action("Details", "Sites", new { id = @item.SiteID })",
                                                                    function (response, status, xhr) {
                                                                        if (status == "error") {
                                                                            //   alert("An error occurred while loading the results.");
                                                                        }


                                                                        $("#ContentContainer").show(500);
                                                                        $(".se-pre-con").fadeOut("slow");

                                                                    });

                                });

                            });

                        </script>
                        
                    }


                        @if (item.Active == true)
                        {

                            @*@Html.ActionLink("Agency Dashboard", "Edit", new { id = item.AgencySiteID }, new { @class = "btn btn-default", @style = "text-decoration:none" })*@

                            <a class="btn btn-default" href="#" id="SiteDashboardButton_@item.SiteID">Site Dashboard</a>


                            <script type="text/javascript">

    $(function () {

        $("#SiteDashboardButton_@item.SiteID").click(function () {


            $("#ContentContainer").hide("slide", { direction: "right" }, 500);
            $(".se-pre-con").fadeIn("slow");
            $("#ContentContainer").load("@Url.Action("Edit", "Sites", new { id = @item.SiteID })",
                                            function (response, status, xhr) {
                                                if (status == "error") {
                                                    //   alert("An error occurred while loading the results.");
                                                }


                                                $("#ContentContainer").show(500);
                                                $(".se-pre-con").fadeOut("slow");

                                            });




        });

    });

                            </script>

                        }

                    </td>
                </tr>
            }

        </table>


    </div>
</div>



<!-- Add Agency Modal -->
<div class="modal fade" id="AddSiteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div style="text-align:left" class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="myModalLabel">Add Site</h2>
            </div>

            <div id="AddSiteContainer"></div>


        </div>


    </div>
</div>


<script type="text/javascript">



    $(function () {

        $("#AddSiteButton").click(function () {


            
            $("#ContentContainer").hide("slide", { direction: "right" }, 500);
            $(".se-pre-con").fadeIn("slow");
            $("#ContentContainer").load("@Url.Action("_AddSite", "Sites", new { id = @ViewBag.AgencySiteID })",
                                             function (response, status, xhr) {
                                                 if (status == "error") {
                                                     //   alert("An error occurred while loading the results.");
                                                 }
                                                 $("#ContentContainer").show(500);
                                                 $(".se-pre-con").fadeOut("slow");
                                             });
  
        });

    });






</script>
