@model CTL.Models.ForgotPasswordInitialViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style type="text/css">
    body {
        background-color: #fff;
        font-family: 'Roboto', sans-serif;
        color: #666;
        overflow-x: hidden;
    }
</style>





@using (Html.BeginForm("ForgotPasswordInitial", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="w3-card-2">

        <!-- /.panel-heading -->
        <div style="background-color:#fff" class="panel-body">


            <div class="alert alert-success" style="padding-left:20px">

                <h3><i class="fa fa-thumbs-up"></i>&nbsp;Welcome to the <span style="font-weight:bold">NEW Health Informatics Data Systems Portal.</span> As an extra measure of security, we ask that all users please enter their email address below to confirm the existance of your account in the new system and receive an email with a link to reset your password. Please <a style="font-weight:bold;text-decoration:underline" href="@Url.Action("Contact","Home")">contact our support team</a> if you have any questions or issues with this process. </h3>
            </div>

            <br />
            <br />
            <div class="form-group">
                @Html.LabelFor(m => m.Email, "Email Address", new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
                </div>
           
         
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-success" value="Email Link" />&nbsp;<a id="homeLink" class="btn btn-default" style="text-decoration:none"
                                                                                               href="@Url.Action("Index", "Home")">
                        Return to Home
                    </a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2"></div>
                <div class="col-md-8">

                    @Html.ValidationSummary("", new { @class = "text-danger" })

                </div>
            </div>


            <br />
          

            <div style="padding-right:10px" id="TilesSection"></div>


        </div>

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script type="text/javascript">


        $(function () {

            $("#TilesSection").hide("slide", { direction: "right" }, 500);
            $("#TilesSection").load("@Url.Action("_Tiles", "Home")",
            function (response, status, xhr) {
                if (status == "error") {
                    //   alert("An error occurred while loading the results.");
                }
                $("#TilesSection").show(500);
            });


        });

    </script>




    @*<script type="text/javascript">

            var images = [
                      "../../Content/images/pic7.jpg",

            ];


            var index = 0, oldIndex;

            //$(document).ready(function () {

            $(function () {



                // Call backstretch for the first time,
                // In this case, I"m settings speed of 500ms for a fadeIn effect between images.
                index = Math.floor((Math.random() * images.length));
                $.backstretch(images[index], {
                    speed: 1000
                });

                // Set an interval that increments the index and sets the new image
                // Note: The fadeIn speed set above will be inherited
                //

                //setInterval(function () {
                //    oldIndex = index;
                //    while (oldIndex == index) {
                //        index = Math.floor((Math.random() * images.length));
                //    }
                //    $.backstretch(images[index]);
                //}, 5000);

                // A little script for preloading all of the images
                // It"s not necessary, but generally a good idea
                $(images).each(function () {
                    $("<img/>")[0].src = this;
                });

            });





        </script>*@


}
