@model eCaST.ViewModels.ClientViewModel

@{
    ViewBag.Title = "Add New Screening";
}


@using (Html.BeginForm("_CreateScreeningF", "Screenings", FormMethod.Post, new { id = "ScreeningInfoForm" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<div id="NewScreenSection"></div>


    <div id="AddScrButtonContainer" align="right">


        @if (ViewBag.ScreeningID > 0)
        {


        <button type="button" id="ReturnScreeningButton" href="#" class="btn btn-default"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>&nbsp;Return to Screening</button>

        }
        else
        {

            <button id="CancelNewScreeningButton" type="button" class="btn btn-default">Cancel</button>

        }




        <div style="float:right;padding-left:10px"><button class="btn btn-success" id="CreateScreeningButton" type="submit"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Add</button></div>





    </div>


   @Html.Hidden("ClientID",(int?)ViewBag.ClientID)
   @Html.Hidden("BPPlusValue")
   @*@Html.Hidden("ProgramBinID")*@

}

<script type="text/javascript">


    $(".se-pre-con").fadeIn("slow");


    $(function () {

        $('#NewScreenSection').load('@Url.Action("_NewCycleContainer", "Screenings", new { id = ViewBag.ClientID, id2 = ViewBag.ScreeningID, id3 = ViewBag.EnrollmentID })');




        if ('@ViewBag.PowerUser' > 0) {



            $("#CreateScreeningButton").css("display", "block");
          

        }
        else {

            if ('@ViewBag.ActiveEnrollmentCount' > 0) {


                $("#CreateScreeningButton").css("display", "block");

            }
            else {

                $("#CreateScreeningButton").css("display", "none");

            }

        }

    });

    $(".se-pre-con").fadeOut("slow");

    $("#ReturnScreeningButton").click(function () {


        $('#ContentContainer').load('@Url.Action("Edit", "Screenings", new { id = ViewBag.ScreeningID })');


    });

    $(document).ready(function () {


        // Check for expired enrollment
        if ('@ViewBag.ActiveEnrollmentCount' == 0 ) {
            

            $("#EnrollmentDate").html("");

        }



        $('#CancelNewScreeningButton').click(function () {



            $('#ContentContainer').load('@Url.Action("_ScreeningList", "Screenings", new { id = @ViewBag.ClientID })');
            $("#AddScreeningButtonContainer").css("display", "block");


        });




        $("#CreateScreeningButton").click(function (e) {

            var iStopSub = 0;
            var sErr = "Please correct the following issues:\n\n";


        
                var iCurDate = new Date();
                var iCurEnrollmentDate = $("#EnrollmentDate").val();
                iEnrollmentDateLen = iCurEnrollmentDate.length;
                if (iEnrollmentDateLen < 1) {
                    iStopSub = 1;
                    sErr += "You must enter a Date of Enrollment" + "\n";

                }
            
            if (new Date(iCurEnrollmentDate).getTime() > new Date(iCurDate).getTime()) {
                iStopSub = 1;
                sErr += "You cannot enter a date of enrollment in the future\n";
            }

            // Check for valid date
            var timestamp = kendo.parseDate(iCurEnrollmentDate, "mm/dd/yyyy");

            if (timestamp == null) {

                iStopSub = 1;
                sErr += "Please enter a valid date of enrollment\n";

            }

            var iInsuranceBinID = $("#InsuranceBinID option:selected").val();

            if (iInsuranceBinID < 1) {
                iStopSub = 1;
                sErr += "You must enter Insurance information" + "\n";

            }

            var iMedicareBinID = $("#MedicareBinID option:selected").val();

            if (iMedicareBinID < 1) {
                iStopSub = 1;
                sErr += "You must enter Medicaid information" + "\n";

            }

            var iMonthlyIncome = $("#MonthlyIncome").val();
            if (iMonthlyIncome == "") {

                iStopSub = 1;
                sErr += "You must enter a Monthly Income" + "\n";

            }

            var iNumberLivingOnIncome = $("#NumberLivingOnIncome").val();
            if (iNumberLivingOnIncome == "") {

                iStopSub = 1;
                sErr += "You must enter Number Living on Income" + "\n";

            }

          

                if ($("#OfficeVisitDate").val() == "") {
                    iStopSub = 1;
                    sErr += "-Please enter and Office Date.\n";
                }

                var iCurOVDate = $("#OfficeVisitDate").val();
                // Check for valid date
                var timestamp = kendo.parseDate(iCurOVDate, "mm/dd/yyyy");

                if (timestamp == null) {

                    iStopSub = 1;
                    sErr += "Please enter a valid Office Visit Date\n";

                }

                if (new Date(iCurOVDate).getTime() > new Date(iCurDate).getTime()) {
                    iStopSub = 1;
                    sErr += "You cannot enter an office date in the future\n";
                }

                var iSiteID = $("#SiteID option:selected").val();

                if (iSiteID < 1) {
                    iStopSub = 1;
                    sErr += "You must enter a Site" + "\n";

                }

                var iScreeningMethodBinID = $("#ScreeningMethodBinID option:selected").val();

                if (iScreeningMethodBinID < 1) {
                    iStopSub = 1;
                    sErr += "You must enter a Screening Method" + "\n";

                }

                var iCancerTypeDD = $("#CancerTypeDD option:selected").val();

                if (iCancerTypeDD < 1) {
                    iStopSub = 1;
                    sErr += "You must enter a Screening Type" + "\n";

                }


                // Breast Validaton
                if ($("#CancerTypeDD").val() == 1) {


                    var iPrevMamDD = $("#PrevMamDD option:selected").val();

                    if (iPrevMamDD < 1) {
                        iStopSub = 1;
                        sErr += "You must enter Previous Mammogram information" + "\n";

                    }


                    if (iPrevMamDD == 1) {

                        var iPrevMamDate = $("#PrevMamDate").val();
                        iPrevMamDateLen = iPrevMamDate.length;
                        if (iPrevMamDateLen < 1) {
                            iStopSub = 1;
                            sErr += "You must enter a Previous Mam Date" + "\n";
                        }

                        if (new Date(iPrevMamDate).getTime() > new Date(iCurDate).getTime()) {
                            iStopSub = 1;
                            sErr += "You cannot enter a date of previous mam in the future\n";
                        }

                        // Check for valid date
                        var timestamp = kendo.parseDate(iPrevMamDate, "mm/dd/yyyy");

                        if (timestamp == null) {

                            iStopSub = 1;
                            sErr += "Please enter a valid date of previous mam\n";

                        }

                    }

                    if (iScreeningMethodBinID == 1) {


                        var iCurrentMamDD = $("#CurrentMamDD option:selected").val();

                        if (iCurrentMamDD < 1) {
                            iStopSub = 1;
                            sErr += "You must enter Current Mammogram information" + "\n";

                        }

                        if (iCurrentMamDD == 2) {

                            var iMamRefDate = $("#MamRefDate").val();
                            iMamRefDateLen = iMamRefDate.length;
                            if (iMamRefDateLen < 1) {
                                iStopSub = 1;
                                sErr += "You must enter a Mam Referral Date" + "\n";
                            }

                            if (new Date(iMamRefDate).getTime() > new Date(iCurDate).getTime()) {
                                iStopSub = 1;
                                sErr += "You cannot enter a date of mam referral in the future\n";
                            }

                            // Check for valid date
                            var timestamp = kendo.parseDate(iMamRefDate, "mm/dd/yyyy");

                            if (timestamp == null) {

                                iStopSub = 1;
                                sErr += "Please enter a valid date of mam referral\n";

                            }



                        }

                    }

                }
                    // Cervical Validation
                else if ($("#CancerTypeDD").val() == 2) {


                    var iHysterectomyStatusBinID = $("#HysterectomyStatusBinID option:selected").val();

                    if (iHysterectomyStatusBinID < 1) {
                        iStopSub = 1;
                        sErr += "You must enter Hysterectomy information" + "\n";

                    }

                    var iPrevPapDD = $("#PrevPapDD option:selected").val();

                    if (iPrevPapDD < 1) {
                        iStopSub = 1;
                        sErr += "You must enter Previous Pap information" + "\n";

                    }


                    if (iPrevPapDD == 1) {

                        var iPrevPapDate = $("#PrevPapDate").val();
                        iPrevPapDateLen = iPrevPapDate.length;
                        if (iPrevPapDateLen < 1) {
                            iStopSub = 1;
                            sErr += "You must enter a Previous Pap Date" + "\n";
                        }

                        if (new Date(iPrevPapDate).getTime() > new Date(iCurDate).getTime()) {
                            iStopSub = 1;
                            sErr += "You cannot enter a date of previous pap in the future\n";
                        }

                        // Check for valid date
                        var timestamp = kendo.parseDate(iPrevPapDate, "mm/dd/yyyy");

                        if (timestamp == null) {

                            iStopSub = 1;
                            sErr += "Please enter a valid date of previous pap\n";

                        }



                    }

                    if (iScreeningMethodBinID == 1) {

                        var iCurrentPapDD = $("#CurrentPapDD option:selected").val();

                        if (iCurrentPapDD < 1) {
                            iStopSub = 1;
                            sErr += "You must enter Current Pap information" + "\n";

                        }


                        if (iCurrentPapDD == 2) {

                            var iPapRefDate = $("#PapRefDate").val();
                            iPapRefDateLen = iPapRefDate.length;
                            if (iPapRefDateLen < 1) {
                                iStopSub = 1;
                                sErr += "You must enter a Pap Referral Date" + "\n";
                            }

                            if (new Date(iPapRefDate).getTime() > new Date(iCurDate).getTime()) {
                                iStopSub = 1;
                                sErr += "You cannot enter a date of pap referral in the future\n";
                            }

                            // Check for valid date
                            var timestamp = kendo.parseDate(iPapRefDate, "mm/dd/yyyy");

                            if (timestamp == null) {

                                iStopSub = 1;
                                sErr += "Please enter a valid date of pap referral\n";

                            }



                        }

                    }

                }
                    // Cardio Validation
                else if ($("#CancerTypeDD").val() == 4) {

                    

                    if ($("#BPPlus").is(':checked')) {
                       
                        document.getElementById("BPPlusValue").value = "True";
                        //  var iCurASSDate = $("#AssessmentDateHIDDEN").val();
                        var iCurBPDate = $("#BPTestDateHIDDEN").val();


                        //Add Test Screen
                        var hvBPDate1 = $("#BPTestDateHIDDEN").val();
                        document.getElementById("BPDate").value = hvBPDate1;

                        // Blood Pressure
                        var hvS1 = $("#SystolicBinID1HIDDEN").val();
                        document.getElementById("SystolicReading").value = hvS1;

                        var hvD1 = $("#DiastolicBinID1HIDDEN").val();
                        document.getElementById("DiastolicReading").value = hvD1;

                        //Create Screen
                        var hvH = $("#DDHeightBinIDHIDDEN").val();
                        document.getElementById("DDHeightBinID").value = hvH;

                        var hvW = $("#DDWeightBinIDHIDDEN").val();
                        document.getElementById("DDWeightBinID").value = hvW;

                        var hvWA = $("#DDWaistBinIDHIDDEN").val();
                        document.getElementById("DDWaistBinID").value = hvWA;

                        var hvHIP = $("#DDHipBinIDHIDDEN").val();
                        document.getElementById("DDHipBinID").value = hvHIP;

                        var hvCMD = $("#CholMedYesValueIDHIDDEN").val();
                        document.getElementById("CholMedYesValueID").value = hvCMD;

                        var hvHTM = $("#HyperTensionMedYesValueIDHIDDEN").val();
                        document.getElementById("HyperTensionMedYesValueID").value = hvHTM;

                        var hvDMV = $("#DiabetesMedYesValueIDHIDDEN").val();
                        document.getElementById("DiabetesMedYesValueID").value = hvDMV;

                        var hvFC = $("#FruitValueIDHIDDEN").val();
                        document.getElementById("FruitValueID").value = hvFC;

                        var hvVEG = $("#VegValueIDHIDDEN").val();
                        document.getElementById("VegValueID").value = hvVEG;

                        var hvMOD = $("#ModerateActivityValueIDHIDDEN").val();
                        document.getElementById("ModerateActivityValueID").value = hvMOD;

                        var hvVIG = $("#VigorousActivityValueIDHIDDEN").val();
                        document.getElementById("VigorousActivityValueID").value = hvVIG;

                        var hvSEC = $("#SmokingSecondHandValueIDHIDDEN").val();
                        document.getElementById("SmokingSecondHandValueID").value = hvSEC;

                        var hvPHY = $("#PhysicalHealthValueIDHIDDEN").val();
                        document.getElementById("PhysicalHealthValueID").value = hvPHY;

                        var hvMH = $("#MentalHealthValueIDHIDDEN").val();
                        document.getElementById("MentalHealthValueID").value = hvMH;

                        var hvMHPHY = $("#MentalPhysicalHealthValueIDHIDDEN").val();
                        document.getElementById("MentalPhysicalHealthValueID").value = hvMHPHY;

                        //iASSDateLen = iCurASSDate.length;
                        //if (iASSDateLen < 1) {
                        //    iStopSub = 1;
                        //    sErr += "-Please enter an assessment date.\n";
                        //}

                        //if (new Date(iCurASSDate).getTime() > new Date(iCurDate).getTime()) {
                        //    iStopSub = 1;
                        //    sErr += "-You cannot add an assessment date in the future.\n";
                        //}


                        iBPDateLen = iCurBPDate.length;
                        if (iBPDateLen < 1) {
                            iStopSub = 1;
                            sErr += "-Please enter an blood pressure reading date.\n";
                        }

                        if (new Date(iCurBPDate).getTime() > new Date(iCurDate).getTime()) {
                            iStopSub = 1;
                            sErr += "-You cannot add an blood pressure reading date in the future.\n";
                        }

                        //Create Screen
                        var hvH = $("#DDHeightBinIDHIDDEN").val();
                        document.getElementById("DDHeightBinID").value = hvH;

                        var hvW = $("#DDWeightBinIDHIDDEN").val();
                        document.getElementById("DDWeightBinID").value = hvW;


                        var iDDHeightBinID = $("#DDHeightBinID").val();

                        if (iDDHeightBinID == "") {

                            iStopSub = 1;
                            sErr += "-Please enter information about height.\n";

                        }

                        if (iDDHeightBinID < 27 || iDDHeightBinID > 80) {

                            iStopSub = 1;
                            sErr += "-The range for height is between 27 and 80 inches.\n";

                        }


                        var iDDWeightBinID = $("#DDWeightBinID").val();

                        if (iDDWeightBinID == "") {

                            iStopSub = 1;
                            sErr += "-Please enter information about weight.\n";

                        }

                        if (iDDWeightBinID < 60 || iDDWeightBinID > 500) {

                            iStopSub = 1;
                            sErr += "-The range for weight is between 60 and 500 inches.\n";

                        }


                     
                        var iSysRead = $("#SystolicReading").val();
                        //alert(iPhysAct);
                        //if (iPhysAct < 0 && iPhysAct > 30) {
                        if (iSysRead == "") {

                            iStopSub = 1;
                            sErr += "-Please enter information about the Systolic Reading.\n";

                        }
                        if (iSysRead > 260) {

                            iStopSub = 1;
                            sErr += "-The range for the Systolic Reading is 0 to 260.\n";

                        }

                        var iDiaRead = $("#DiastolicReading").val();
                        //alert(iPhysAct);
                        //if (iPhysAct < 0 && iPhysAct > 30) {
                        if (iDiaRead == "") {

                            iStopSub = 1;
                            sErr += "-Please enter information about the Diastolic Reading.\n";

                        }
                        if (iDiaRead > 200) {

                            iStopSub = 1;
                            sErr += "-The range for the Diastolic Reading is 0 to 200.\n";

                        }


                    

                        var checkIfAssessment = function () {

                            return '@ViewBag.FollowUpFlag' == "0";

                        };

                        var checkIfHeightFieldSelected = function () {
                            return $("#DDHeightBinID").val() > 0 || $("#DDHeightBinID").val() != null;
                        };

                        var checkIfWeightFieldSelected = function () {
                            return $("#DDWeightBinID").val() > 0 || $("#DDWeightBinID").val() != null;
                        };


                        var checkIfCholFieldSelected = function () {
                            return $("#HighCholValueID").val() == 1;
                        };

                        var checkIfTCholFieldSelected = function () {
                            return $("#HighCholValueID").val() != -1;
                        };

                        // New
                        var checkIfCholMedValueFieldSelected = function () {

                            if ($("#HighCholValueID").val() != -1) {

                                if ($("#CholMedValueID").val() == 1) {

                                    return $("#CholMedYesValueID").val() < 1;

                                }


                            }

                            // return $("#CholMedValueID").val() != -1;
                        };

                        var checkIfHyperTFieldSelected = function () {
                            return $("#HyperTensionValueID").val() != -1;
                        };

                        var checkIfHyperTMedFieldSelected = function () {
                            return $("#HyperTensionValueID").val() == 1;
                        };

                        var checkIfHyperTMeasureFieldSelected = function () {
                            return $("#HyperTensionMeasureValueID").val() == 1;
                        };

                        var checkIfHyperTMedYesFieldSelected = function () {

                            if ($("#HyperTensionValueID").val() != -1) {

                                if ($("#HyperTensionMedValueID").val() == 1) {

                                    return $("#HyperTensionMedYesValueID").val() < 1;

                                }


                            }


                        };

                        var checkIfDiabetesFieldSelected = function () {
                            return $("#DiabetesValueID").val() != -1;
                        };
                        var checkIfDiabetesMedFieldSelected = function () {
                            return $("#DiabetesValueID").val() == 1;
                        };
                        var checkIfDiabetesMedYesFieldSelected = function () {

                            if ($("#DiabetesValueID").val() != -1) {

                                if ($("#DiabetesMedValueID").val() == 1) {

                                    return $("#DiabetesMedYesValueID").val() < 1;

                                }


                            }


                        };
                        var checkIfHeartAttackFieldSelected = function () {
                            return $("#HeartAttackValueID").val() != -1;
                        };

                        var checkIfFishFieldSelected = function () {
                            return $("#FishValueID").val() != -1;
                        };

                        var checkIfWholeGrainsFieldSelected = function () {
                            return $("#WholeGrainsValueID").val() != -1;
                        };

                        var checkIfDrinkFieldSelected = function () {
                            return $("#DrinkValueID").val() != -1;
                        };
                        var checkIfSodiumReducedFieldSelected = function () {
                            return $("#SodiumReducedValueID").val() != -1;
                        };
                        var checkIfSmokingFieldSelected = function () {
                            return $("#SmokingValueID").val() != -1;
                        };

                        $("#ScreeningInfoForm").validate({

                            errorClass: "my-error-class",
                            validClass: "my-valid-class",


                            rules: {

                                DDHeightBinID: {
                                    required: { depends: checkIfHeightFieldSelected },
                                    range: [36, 80]

                                },

                                DDWeightBinID: {
                                    required: { depends: checkIfWeightFieldSelected },
                                    range: [60, 500]

                                },

                                //DDWaistBinID: {
                                //    required: { depends: checkIfWaistFieldSelected },
                                //    range: [2, 72]

                                //},
                                //DDHipBinID: {
                                //    required: { depends: checkIfHipFieldSelected },
                                //    range: [2, 72]

                                //},


                                //EducationBinID: {
                                //    //required: true
                                //    required: { depends: checkIfAssessment }

                                //},
                                //LanguageBinID: {
                                //    //required: true
                                //    required: { depends: checkIfAssessment }

                                //}
                                //,


                                HighCholValueID: {
                                    required: { depends: checkIfTCholFieldSelected }

                                },
                                CholMedValueID: {
                                    required: { depends: checkIfCholFieldSelected }

                                },
                                // New
                                CholMedYesValueID: {
                                    required: { depends: checkIfCholMedValueFieldSelected },
                                    range: [1, 7]

                                },

                                HyperTensionValueID: {
                                    required: { depends: checkIfHyperTFieldSelected }

                                },
                                HyperTensionMedValueID: {
                                    required: { depends: checkIfHyperTMedFieldSelected }

                                },
                                HyperTensionMeasureValueID: {
                                    required: { depends: checkIfHyperTMedFieldSelected }

                                },
                                HyperTensionMedYesValueID: {
                                    required: { depends: checkIfHyperTMedYesFieldSelected },
                                    range: [1, 7]

                                },
                                HyperTensionMeasureYesValueID: {
                                    required: { depends: checkIfHyperTMeasureFieldSelected }

                                },
                                HyperTensionShareValueID: {
                                    required: { depends: checkIfHyperTMedFieldSelected }

                                },
                                DiabetesValueID: {
                                    required: { depends: checkIfDiabetesFieldSelected }

                                },
                                DiabetesMedValueID: {
                                    required: { depends: checkIfDiabetesMedFieldSelected }

                                },

                                DiabetesMedYesValueID: {
                                    required: { depends: checkIfDiabetesMedYesFieldSelected },
                                    range: [1, 7]

                                },
                                HeartAttackValueID: {
                                    required: { depends: checkIfHeartAttackFieldSelected }

                                },
                                ////New
                                //FruitValueID: {
                                //    required: true,
                                //    range: [0, 50]

                                //},
                                //VegValueID: {
                                //    required: true,
                                //    range: [0, 15]

                                //},
                                //ModerateActivityValueID: {
                                //    required: true,
                                //    range: [0, 10080]

                                //},
                                //VigorousActivityValueID: {
                                //    required: true,
                                //    range: [0, 10080]

                                //},
                                //SmokingSecondHandValueID: {
                                //    required: true,
                                //    range: [0, 24]

                                //},
                                //PhysicalHealthValueID: {
                                //    required: true,
                                //    range: [0, 30]

                                //},
                                //MentalHealthValueID: {
                                //    required: true,
                                //    range: [0, 30]

                                //},
                                //MentalPhysicalHealthValueID: {
                                //    required: true,
                                //    range: [0, 30]

                                //},
                                // End New
                                //FishValueID: {
                                //    required: { depends: checkIfFishFieldSelected }

                                //},
                                //WholeGrainsValueID: {
                                //    required: { depends: checkIfWholeGrainsFieldSelected }

                                //},
                                //DrinkValueID: {
                                //    required: { depends: checkIfDrinkFieldSelected }

                                //},
                                //SodiumReducedValueID: {
                                //    required: { depends: checkIfSodiumReducedFieldSelected }

                               // },
                                SmokingValueID: {
                                    required: { depends: checkIfSmokingFieldSelected }

                                }
                                //SystolicReading: {
                                //    required: { depends: checkIfSystolicFieldSelected },
                                //    range: [0, 260]

                                //},

                                //DiastolicReading: {
                                //    required: { depends: checkIfDiastolicFieldSelected },
                                //    range: [0, 200]

                                //}

                            },
                            messages: {
                                DDHeightBinID: {
                                    required: "Please enter a value greater than 0 for patient height"

                                },
                                DDWeightBinID: {
                                    required: "Please enter a value greater than 0 for patient weight"

                                },
                                //DDWaistBinID: {
                                //    required: "Please enter a value greater than 0 for patient waist"

                                //},
                                //DDHipBinID: {
                                //    required: "Please enter a value greater than 0 for patient hip circumference"

                                //},
                                //EducationBinID: {
                                //    required: "Please enter information about Education"

                                //},
                                //LanguageBinID: {
                                //    required: "Please enter information about Language"

                                //}
                                //,

                                HighCholValueID: {
                                    required: "Please enter information about cholesterol"

                                },
                                CholMedValueID: {
                                    required: "Please enter information about cholesterol medication"

                                },
                                //New
                                CholMedYesValueID: {
                                    required: "Please enter information about amount of days cholesterol medication taken"

                                },
                                HyperTensionValueID: {
                                    required: "Please enter information about hypertension"

                                },
                                HyperTensionMedValueID: {
                                    required: "Please enter information about hypertension medication"

                                },
                                HyperTensionMedYesValueID: {
                                    required: "Please enter information about hypertension medication"

                                },
                                HyperTensionMeasureValueID: {
                                    required: "Please enter information about hypertension measurement"

                                },
                                HyperTensionMeasureYesValueID: {
                                    required: "Please enter information about hypertension measurement sources"

                                },
                                HyperTensionShareValueID: {
                                    required: "Please enter information about hypertension readings"

                                },
                                DiabetesValueID: {
                                    required: "Please enter information about diabetes"

                                },
                                DiabetesMedValueID: {
                                    required: "Please enter information about diabetes medication"

                                },
                                DiabetesMedYesValueID: {
                                    required: "Please enter information about diabetes medication"

                                },
                                HeartAttackValueID: {
                                    required: "Please enter information about heart attacks"

                                },
                                //New
                                //FruitValueID: {
                                //    required: "Please enter information about fruit intake"

                                //},
                                //VegValueID: {
                                //    required: "Please enter information about fruit intake"

                                //},
                                //ModerateActivityValueID: {
                                //    required: "Please enter information about amount of moderate activity"

                                //},
                                //VigorousActivityValueID: {
                                //    required: "Please enter information about amount of vigorous activity"

                                //},
                                //SmokingSecondHandValueID: {
                                //    required: "Please enter information about secondhand smoking"

                                //},
                                //PhysicalHealthValueID: {
                                //    required: "Please enter information about physical health"

                                //},
                                //MentalHealthValueID: {
                                //    required: "Please enter information about mental health"

                                //},
                                //MentalPhysicalHealthValueID: {
                                //    required: "Please enter information about mental and physical health"

                                //},
                                // End New
                                //FishValueID: {
                                //    required: "Please enter information about fish intake"

                                //},
                                //WholeGrainsValueID: {
                                //    required: "Please enter information about whole grain intake"

                                //},
                                //DrinkValueID: {
                                //    required: "Please enter information about sugary drink intake"

                                //},
                                //SodiumReducedValueID: {
                                //    required: "Please enter information about sodium intake"

                               // },
                                SmokingValueID: {
                                required: "Please enter information about smoking"

                                }
                                //SystolicReading: {
                                //    required: "Please enter information about the systolic reading"

                                //},
                                //DiastolicReading: {
                                //    required: "Please enter information about the diastolic reading"

                                //}

                            }
                        });


                        // Remove validation
                        $('#EducationBinID').each(function () {
                            $(this).rules('remove');
                        });

                        $('#LanguageBinID').each(function () {
                            $(this).rules('remove');
                        });


                        $('#FruitValueID').each(function () {
                            $(this).rules('remove');
                        });

                        $('#VegValueID').each(function () {
                            $(this).rules('remove');
                        });

                        $('#FishValueID').each(function () {
                            $(this).rules('remove');
                        });
                        $('#WholeGrainsValueID').each(function () {
                            $(this).rules('remove');
                        });
                        $('#DrinkValueID').each(function () {
                            $(this).rules('remove');
                        });
                        $('#SodiumReducedValueID').each(function () {
                            $(this).rules('remove');
                        });
                        $('#ModerateActivityValueID').each(function () {
                            $(this).rules('remove');
                        });
                        $('#VigorousActivityValueID').each(function () {
                            $(this).rules('remove');
                        });
                        $('#PhysicalHealthValueID').each(function () {
                            $(this).rules('remove');
                        });
                        $('#MentalHealthValueID').each(function () {
                            $(this).rules('remove');
                        });

                        $('#PhysicalMentalHealthValueID').each(function () {
                            $(this).rules('remove');
                        });


                        //  End Remove Validation


                    }
                    else {

                        document.getElementById("BPPlusValue").value = "False";
                        //Create Screen
                        var hvH = $("#DDHeightBinIDHIDDEN").val();
                        document.getElementById("DDHeightBinID").value = hvH;

                        var hvW = $("#DDWeightBinIDHIDDEN").val();
                        document.getElementById("DDWeightBinID").value = hvW;

                        var hvWA = $("#DDWaistBinIDHIDDEN").val();
                        document.getElementById("DDWaistBinID").value = hvWA;

                        var hvHIP = $("#DDHipBinIDHIDDEN").val();
                        document.getElementById("DDHipBinID").value = hvHIP;

                        var hvCMD = $("#CholMedYesValueIDHIDDEN").val();
                        document.getElementById("CholMedYesValueID").value = hvCMD;

                        var hvHTM = $("#HyperTensionMedYesValueIDHIDDEN").val();
                        document.getElementById("HyperTensionMedYesValueID").value = hvHTM;

                        var hvDMV = $("#DiabetesMedYesValueIDHIDDEN").val();
                        document.getElementById("DiabetesMedYesValueID").value = hvDMV;

                        var hvFC = $("#FruitValueIDHIDDEN").val();
                        document.getElementById("FruitValueID").value = hvFC;

                        var hvVEG = $("#VegValueIDHIDDEN").val();
                        document.getElementById("VegValueID").value = hvVEG;

                        var hvMOD = $("#ModerateActivityValueIDHIDDEN").val();
                        document.getElementById("ModerateActivityValueID").value = hvMOD;

                        var hvVIG = $("#VigorousActivityValueIDHIDDEN").val();
                        document.getElementById("VigorousActivityValueID").value = hvVIG;

                        var hvSEC = $("#SmokingSecondHandValueIDHIDDEN").val();
                        document.getElementById("SmokingSecondHandValueID").value = hvSEC;

                        var hvPHY = $("#PhysicalHealthValueIDHIDDEN").val();
                        document.getElementById("PhysicalHealthValueID").value = hvPHY;

                        var hvMH = $("#MentalHealthValueIDHIDDEN").val();
                        document.getElementById("MentalHealthValueID").value = hvMH;

                        var hvMHPHY = $("#MentalPhysicalHealthValueIDHIDDEN").val();
                        document.getElementById("MentalPhysicalHealthValueID").value = hvMHPHY;

                      
                        //Add Assessment Date
                        //var assDate = $("#AssessmentDateHIDDEN").val();
                        //document.getElementById("AssessmentDate").value = assDate;

                        var checkIfAssessment = function () {

                            return '@ViewBag.FollowUpFlag' == "0";

                        };

                        var checkIfHeightFieldSelected = function () {
                            return $("#DDHeightBinID").val() > 0 || $("#DDHeightBinID").val() != null;
                        };

                        var checkIfWeightFieldSelected = function () {
                            return $("#DDWeightBinID").val() > 0 || $("#DDWeightBinID").val() != null;
                        };


                        var checkIfCholFieldSelected = function () {
                            return $("#HighCholValueID").val() == 1;
                        };

                        var checkIfTCholFieldSelected = function () {
                            return $("#HighCholValueID").val() != -1;
                        };

                        // New
                        var checkIfCholMedValueFieldSelected = function () {

                            if ($("#HighCholValueID").val() != -1) {

                                if ($("#CholMedValueID").val() == 1) {

                                    return $("#CholMedYesValueID").val() < 1;

                                }


                            }

                            // return $("#CholMedValueID").val() != -1;
                        };

                        var checkIfHyperTFieldSelected = function () {
                            return $("#HyperTensionValueID").val() != -1;
                        };

                        var checkIfHyperTMedFieldSelected = function () {
                            return $("#HyperTensionValueID").val() == 1;
                        };

                        var checkIfHyperTMeasureFieldSelected = function () {
                            return $("#HyperTensionMeasureValueID").val() == 1;
                        };

                        var checkIfHyperTMedYesFieldSelected = function () {

                            if ($("#HyperTensionValueID").val() != -1) {

                                if ($("#HyperTensionMedValueID").val() == 1) {

                                    return $("#HyperTensionMedYesValueID").val() < 1;

                                }


                            }


                        };

                        var checkIfDiabetesFieldSelected = function () {
                            return $("#DiabetesValueID").val() != -1;
                        };
                        var checkIfDiabetesMedFieldSelected = function () {
                            return $("#DiabetesValueID").val() == 1;
                        };
                        var checkIfDiabetesMedYesFieldSelected = function () {

                            if ($("#DiabetesValueID").val() != -1) {

                                if ($("#DiabetesMedValueID").val() == 1) {

                                    return $("#DiabetesMedYesValueID").val() < 1;

                                }


                            }


                        };
                        var checkIfHeartAttackFieldSelected = function () {
                            return $("#HeartAttackValueID").val() != -1;
                        };

                        var checkIfFishFieldSelected = function () {
                            return $("#FishValueID").val() != -1;
                        };

                        var checkIfWholeGrainsFieldSelected = function () {
                            return $("#WholeGrainsValueID").val() != -1;
                        };

                        var checkIfDrinkFieldSelected = function () {
                            return $("#DrinkValueID").val() != -1;
                        };
                        var checkIfSodiumReducedFieldSelected = function () {
                            return $("#SodiumReducedValueID").val() != -1;
                        };
                        var checkIfSmokingFieldSelected = function () {
                            return $("#SmokingValueID").val() != -1;
                        };

                        $("#ScreeningInfoForm").validate({

                            errorClass: "my-error-class",
                            validClass: "my-valid-class",


                            rules: {

                                DDHeightBinID: {
                                    required: { depends: checkIfHeightFieldSelected },
                                    range: [36, 80]

                                },

                                DDWeightBinID: {
                                    required: { depends: checkIfWeightFieldSelected },
                                    range: [60, 500]

                                },

                                //DDWaistBinID: {
                                //    required: { depends: checkIfWaistFieldSelected },
                                //    range: [2, 72]

                                //},
                                //DDHipBinID: {
                                //    required: { depends: checkIfHipFieldSelected },
                                //    range: [2, 72]

                                //},


                                EducationBinID: {
                                    required: true
                                   // required: { depends: checkIfAssessment }

                                },
                                LanguageBinID: {
                                    required: true
                                  //  required: { depends: checkIfAssessment }

                                }
                                ,


                                HighCholValueID: {
                                    required: { depends: checkIfTCholFieldSelected }

                                },
                                CholMedValueID: {
                                    required: { depends: checkIfCholFieldSelected }

                                },
                                // New
                                CholMedYesValueID: {
                                    required: { depends: checkIfCholMedValueFieldSelected },
                                    range: [1, 7]

                                },

                                HyperTensionValueID: {
                                    required: { depends: checkIfHyperTFieldSelected }

                                },
                                HyperTensionMedValueID: {
                                    required: { depends: checkIfHyperTMedFieldSelected }

                                },
                                HyperTensionMeasureValueID: {
                                    required: { depends: checkIfHyperTMedFieldSelected }

                                },
                                HyperTensionMedYesValueID: {
                                    required: { depends: checkIfHyperTMedYesFieldSelected },
                                    range: [1, 7]

                                },
                                HyperTensionMeasureYesValueID: {
                                    required: { depends: checkIfHyperTMeasureFieldSelected }

                                },
                                HyperTensionShareValueID: {
                                    required: { depends: checkIfHyperTMedFieldSelected }

                                },
                                DiabetesValueID: {
                                    required: { depends: checkIfDiabetesFieldSelected }

                                },
                                DiabetesMedValueID: {
                                    required: { depends: checkIfDiabetesMedFieldSelected }

                                },

                                DiabetesMedYesValueID: {
                                    required: { depends: checkIfDiabetesMedYesFieldSelected },
                                    range: [1, 7]

                                },
                                HeartAttackValueID: {
                                    required: { depends: checkIfHeartAttackFieldSelected }

                                },
                                //New
                                FruitValueID: {
                                    required: true,
                                    range: [0, 50]

                                },
                                VegValueID: {
                                    required: true,
                                    range: [0, 15]

                                },
                                ModerateActivityValueID: {
                                    required: true,
                                    range: [0, 10080]

                                },
                                VigorousActivityValueID: {
                                    required: true,
                                    range: [0, 10080]

                                },
                                //SmokingSecondHandValueID: {
                                //    required: true,
                                //    range: [0, 24]

                                //},
                                //PhysicalHealthValueID: {
                                //    required: true,
                                //    range: [0, 30]

                                //},
                                //MentalHealthValueID: {
                                //    required: true,
                                //    range: [0, 30]

                                //},
                                //MentalPhysicalHealthValueID: {
                                //    required: true,
                                //    range: [0, 30]

                                //},
                                // End New
                                FishValueID: {
                                    required: { depends: checkIfFishFieldSelected }

                                },
                                WholeGrainsValueID: {
                                    required: { depends: checkIfWholeGrainsFieldSelected }

                                },
                                DrinkValueID: {
                                    required: { depends: checkIfDrinkFieldSelected }

                                },
                                SodiumReducedValueID: {
                                    required: { depends: checkIfSodiumReducedFieldSelected }

                                },
                                SmokingValueID: {
                                    required: { depends: checkIfSmokingFieldSelected }

                                }
                                //SystolicReading: {
                                //    required: { depends: checkIfSystolicFieldSelected },
                                //    range: [0, 260]

                                //},

                                //DiastolicReading: {
                                //    required: { depends: checkIfDiastolicFieldSelected },
                                //    range: [0, 200]

                                //}

                            },
                            messages: {
                                DDHeightBinID: {
                                    required: "Please enter a value greater than 0 for patient height"

                                },
                                DDWeightBinID: {
                                    required: "Please enter a value greater than 0 for patient weight"

                                },
                                //DDWaistBinID: {
                                //    required: "Please enter a value greater than 0 for patient waist"

                                //},
                                //DDHipBinID: {
                                //    required: "Please enter a value greater than 0 for patient hip circumference"

                                //},
                                EducationBinID: {
                                    required: "Please enter information about Education"

                                },
                                LanguageBinID: {
                                    required: "Please enter information about Language"

                                }
                                ,

                                HighCholValueID: {
                                    required: "Please enter information about cholesterol"

                                },
                                CholMedValueID: {
                                    required: "Please enter information about cholesterol medication"

                                },
                                //New
                                CholMedYesValueID: {
                                    required: "Please enter information about amount of days cholesterol medication taken"

                                },
                                HyperTensionValueID: {
                                    required: "Please enter information about hypertension"

                                },
                                HyperTensionMedValueID: {
                                    required: "Please enter information about hypertension medication"

                                },
                                HyperTensionMedYesValueID: {
                                    required: "Please enter information about hypertension medication"

                                },
                                HyperTensionMeasureValueID: {
                                    required: "Please enter information about hypertension measurement"

                                },
                                HyperTensionMeasureYesValueID: {
                                    required: "Please enter information about hypertension measurement sources"

                                },
                                HyperTensionShareValueID: {
                                    required: "Please enter information about hypertension readings"

                                },
                                DiabetesValueID: {
                                    required: "Please enter information about diabetes"

                                },
                                DiabetesMedValueID: {
                                    required: "Please enter information about diabetes medication"

                                },
                                DiabetesMedYesValueID: {
                                    required: "Please enter information about diabetes medication"

                                },
                                HeartAttackValueID: {
                                    required: "Please enter information about heart attacks"

                                },
                                //New
                                FruitValueID: {
                                    required: "Please enter information about fruit intake"

                                },
                                VegValueID: {
                                    required: "Please enter information about fruit intake"

                                },
                                ModerateActivityValueID: {
                                    required: "Please enter information about amount of moderate activity"

                                },
                                VigorousActivityValueID: {
                                    required: "Please enter information about amount of vigorous activity"

                                },
                                //SmokingSecondHandValueID: {
                                //    required: "Please enter information about secondhand smoking"

                                //},
                                //PhysicalHealthValueID: {
                                //    required: "Please enter information about physical health"

                                //},
                                //MentalHealthValueID: {
                                //    required: "Please enter information about mental health"

                                //},
                                //MentalPhysicalHealthValueID: {
                                //    required: "Please enter information about mental and physical health"

                                //},
                                // End New
                                FishValueID: {
                                    required: "Please enter information about fish intake"

                                },
                                WholeGrainsValueID: {
                                    required: "Please enter information about whole grain intake"

                                },
                                DrinkValueID: {
                                    required: "Please enter information about sugary drink intake"

                                },
                                SodiumReducedValueID: {
                                    required: "Please enter information about sodium intake"

                                },
                                SmokingValueID: {
                                    required: "Please enter information about smoking"

                                }
                                //SystolicReading: {
                                //    required: "Please enter information about the systolic reading"

                                //},
                                //DiastolicReading: {
                                //    required: "Please enter information about the diastolic reading"

                                //}

                            }
                        });

                        // Add validation
                        $('#EducationBinID').each(function () {
                            $(this).rules('add', "required");
                        });

                        $('#LanguageBinID').each(function () {
                            $(this).rules('add', "required");
                        });
                      
                        $('#FruitValueID').each(function () {
                            $(this).rules('add', "required");
                        });

                        $('#VegValueID').each(function () {
                            $(this).rules('add', "required");
                        });

                        $('#FishValueID').each(function () {
                            $(this).rules('add', "required");
                        });
                        $('#WholeGrainsValueID').each(function () {
                            $(this).rules('add', "required");
                        });
                        $('#DrinkValueID').each(function () {
                            $(this).rules('add', "required");
                        });
                        $('#SodiumReducedValueID').each(function () {
                            $(this).rules('add', "required");
                        });
                        $('#ModerateActivityValueID').each(function () {
                            $(this).rules('add', "required");
                        });
                        $('#VigorousActivityValueID').each(function () {
                            $(this).rules('add', "required");
                        });
                        $('#PhysicalHealthValueID').each(function () {
                            $(this).rules('add', "required");
                        });
                        $('#MentalHealthValueID').each(function () {
                            $(this).rules('add', "required");
                        });

                        $('#PhysicalMentalHealthValueID').each(function () {
                            $(this).rules('add', "required");
                        });

                    

                        if ($("#checkboxPHYSICALHEALTHCHECK").is(':checked')) {

                            if ($("#PhysicalHealthValueIDNS").val().length == 0) {
                                iStopSub = 1;
                                sErr += "-Please enter a reason for not collecting Physical Activity information.\n";
                            }

                        }
                        else {

                            var iPhysAct = $("#PhysicalHealthValueID").val();
                            //alert(iPhysAct);
                            //if (iPhysAct < 0 && iPhysAct > 30) {
                            if (iPhysAct == "") {

                                iStopSub = 1;
                                sErr += "-Please enter information about physical activity.\n";

                            }
                            if (iPhysAct > 30) {

                                iStopSub = 1;
                                sErr += "-The range for Physical Activity is 0 to 30 days.\n";

                            }

                        }


                        if ($("#checkboxMENTALHEALTHCHECK").is(':checked')) {

                            if ($("#MentalHealthValueIDNS").val().length == 0) {
                                iStopSub = 1;
                                sErr += "-Please enter a reason for not collecting Mental Activity information.\n";
                            }

                        }
                        else {

                            var iMentalAct = $("#MentalHealthValueID").val();
                            //alert(iPhysAct);
                            //if (iPhysAct < 0 && iPhysAct > 30) {
                            if (iMentalAct == "") {

                                iStopSub = 1;
                                sErr += "-Please enter information about mental activity.\n";

                            }
                            if (iMentalAct > 30) {

                                iStopSub = 1;
                                sErr += "-The range for Mental Activity is 0 to 30 days.\n";

                            }

                        }

                        if ($("#checkboxMENTALPHYSICALHEALTHCHECK").is(':checked')) {

                            if ($("#MentalPhysicalHealthValueIDNS").val().length == 0) {
                                iStopSub = 1;
                                sErr += "-Please enter a reason for not collecting Mental/Physical Activity information.\n";
                            }

                        }
                        else {

                            var iMentalPhysAct = $("#MentalPhysicalHealthValueID").val();
                            //alert(iPhysAct);
                            //if (iPhysAct < 0 && iPhysAct > 30) {
                            if (iMentalPhysAct == "") {

                                iStopSub = 1;
                                sErr += "-Please enter information about mental/physical activity.\n";

                            }
                            if (iMentalPhysAct > 30) {

                                iStopSub = 1;
                                sErr += "-The range for Mental/Physical Activity is 0 to 30 days.\n";

                            }

                        }

                        if ($("#checkboxSMOKINGSECONDHANDCHECK").is(':checked')) {

                            if ($("#SmokingSecondHandValueIDNS").val().length == 0) {
                                iStopSub = 1;
                                sErr += "-Please enter select yes if exposure to second hand smoke was less than 1 hour.\n";
                            }

                        }
                        else {

                            var iSmokingSecondHandAct = $("#SmokingSecondHandValueID").val();
                            //alert(iPhysAct);
                            //if (iPhysAct < 0 && iPhysAct > 30) {
                            if (iSmokingSecondHandAct == "") {

                                iStopSub = 1;
                                sErr += "-Please enter information about secondhand smoking exposure.\n";

                            }
                            if (iSmokingSecondHandAct > 30) {

                                iStopSub = 1;
                                sErr += "-The range for secondhand smoking is 0 to 24 hours.\n";

                            }

                        }


                        var iFruitValue = $("#FruitValueID").val();
                        //alert(iPhysAct);
                        //if (iPhysAct < 0 && iPhysAct > 30) {
                        if (iFruitValue == "") {

                            iStopSub = 1;
                            sErr += "-Please enter information about fruit intake.\n";

                        }
                        if (iFruitValue > 50) {

                            iStopSub = 1;
                            sErr += "-The range for fruit intake is 0 to 50 cups.\n";

                        }

                        var iVegValue = $("#VegValueID").val();
                        //alert(iPhysAct);
                        //if (iPhysAct < 0 && iPhysAct > 30) {
                        if (iVegValue == "") {

                            iStopSub = 1;
                            sErr += "-Please enter information about vegetable intake.\n";

                        }

                        if (iVegValue > 15) {

                            iStopSub = 1;
                            sErr += "-The range for vegetable intake is 0 to 15 cups.\n";

                        }

                        var iDDHeightBinID = $("#DDHeightBinID").val();

                        if (iDDHeightBinID == "") {

                            iStopSub = 1;
                            sErr += "-Please enter information about height.\n";

                        }

                        if (iDDHeightBinID < 27 || iDDHeightBinID > 80) {

                            iStopSub = 1;
                            sErr += "-The range for height is between 27 and 80 inches.\n";

                        }


                        var iDDWeightBinID = $("#DDWeightBinID").val();

                        if (iDDWeightBinID == "") {

                            iStopSub = 1;
                            sErr += "-Please enter information about weight.\n";

                        }

                        if (iDDWeightBinID < 60 || iDDWeightBinID > 500) {

                            iStopSub = 1;
                            sErr += "-The range for weight is between 60 and 500 inches.\n";

                        }

                        var iModerateActivityValueID = $("#ModerateActivityValueID").val();

                        if (iModerateActivityValueID == "") {

                            iStopSub = 1;
                            sErr += "-Please enter information about moderate physical activity.\n";

                        }

                        if (iModerateActivityValueID > 10080) {

                            iStopSub = 1;
                            sErr += "-The range for moderate physical activity is between 0 and 10080 .\n";

                        }

                        var iVigorousActivityValueID = $("#VigorousActivityValueID").val();

                        if (iVigorousActivityValueID == "") {

                            iStopSub = 1;
                            sErr += "-Please enter information about vigorous physical activity.\n";

                        }

                        if (iVigorousActivityValueID > 10080) {

                            iStopSub = 1;
                            sErr += "-The range for vigorous physical activity is between 0 and 10080 .\n";

                        }

                    }


                }



         
            if (iStopSub != 0) {
                alert(sErr);
                e.preventDefault();

            }


            // Add ProgramID
            var outP = document.getElementById('ProgramBinID').value;
            document.getElementById("ProgramID").value = outP;


        });
    });



    $('#ScreeningInfoForm').on("submit", function (evt) {
        evt.preventDefault();
        if ($('#ScreeningInfoForm').valid()) {
            //  $("#SaveExitButton").prop("disabled", true);


            $.ajax({
                url: $("#ScreeningInfoForm").attr('action'),
                type: $("#ScreeningInfoForm").attr('method'),
                contentType: "application/x-www-form-urlencoded;charset=utf-8",
                data: $("#ScreeningInfoForm").serialize(),
                success: function (data) {

                    var clientid = data.Modified;
                    var screeningid = data.Modified2;
                    var existingscreeningid = data.Modified3;

                    $('#ClientSection').load('@Url.Action("Details", "Clients")', { id: clientid, id2: screeningid, id3: existingscreeningid });



                }
            });
        }

    });


</script>