@model eCaST.ViewModels.ScreeningViewModel

@{
    ViewBag.Title = "Delete";
}
<br />
<div class="alert alert-danger"><h4><span class="glyphicon glyphicon-remove-circle"></span>&nbsp;Are you sure you want to delete this screening?</h4></div>
<br />

@using (Html.BeginForm("_DeleteScreeningF", "Screenings", FormMethod.Post, new { id = "ScreeningDeleteForm" }))
{

    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    
    @Html.HiddenFor(x => x.ScreeningID)
    @Html.HiddenFor(x => x.ClientID)


    <div id="DeleteFailureContainer" style="display:none" class="alert alert-warning"><span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;This screening CANNOT be deleted, there is payment information tied to this client's screenings.</div>
    <div align="right">
        <button id="CancelDeleteButton" class="btn btn-default" type="button"><span class="glyphicon glyphicon-dashboard"></span>&nbsp;Cancel</button>&nbsp;
        <button class="btn btn-danger" id="DeleteClientButton" type="submit">Delete Screening</button>
    </div>



}


<script type="text/javascript">


    $('#CancelDeleteButton').click(function () {

        $('#ClientSection').load('@Url.Action("Details", "Clients", new { id = ViewBag.ClientID, id2 = ViewBag.ScreeningID })');


    });


    $('#ScreeningDeleteForm').on("submit", function (evt) {
        evt.preventDefault();
        if ($('#ScreeningDeleteForm').valid()) {
            //  $("#SaveExitButton").prop("disabled", true);
            $.ajax({
                url: $("#ScreeningDeleteForm").attr('action'),
                type: $("#ScreeningDeleteForm").attr('method'),
                contentType: "application/x-www-form-urlencoded;charset=utf-8",
                data: $("#ScreeningDeleteForm").serialize(),
                success: function (data) {


                    var status = data.Status;


                    if (status == "Success") {

                        $('#ClientSection').load('@Url.Action("Details", "Clients", new { id = ViewBag.ClientID })');


                    }
                    else {


                        $('#DeleteFailureContainer').css("display", "block");

                    }


                }
            });
        }

    });

</script>