@model EncaustiCreations.Models.SupportTicket

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.SupportTicketEmail)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.SupportTicketEmail)
    @Html.ValidationMessageFor(model => model.SupportTicketEmail)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.SupportTicketTitle)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.SupportTicketTitle)
    @Html.ValidationMessageFor(model => model.SupportTicketTitle)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.SupportTicketContent)
</div>
<div class="editor-field">
   @* @Html.EditorFor(model => model.SupportTicketContent)*@
     @(Html.Kendo().EditorFor(model => model.SupportTicketContent).Name("SupportTicketContent")
    .HtmlAttributes(new { style = "width:100%;height:200px;margin-left:10px;" })
    .Tools(tools => tools
        .Clear()
        .FontName(items => items
            .Add("Verdana", "Verdana,Geneva,sans-serif")
            .Add("Garamond", "Garamond, serif")                
        )
        .FontSize(items => items
            .Add("1 (8pt)", "xx-small")
            .Add("16px", "16px")
        )
        
    )
    )
    @Html.ValidationMessageFor(model => model.SupportTicketContent)
</div>

@*<div class="editor-label">
    @Html.LabelFor(model => model.Active)
</div>*@
@*<div class="editor-field">
    @Html.EditorFor(model => model.Active)
    @Html.ValidationMessageFor(model => model.Active)
</div>*@

