@model EncaustiCreations.Models.SupportTicket

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>SupportTicket</legend>

    <div class="display-label">SupportTicketEmail</div>
    <div class="display-field">@Model.SupportTicketEmail</div>

    <div class="display-label">SupportTicketTitle</div>
    <div class="display-field">@Model.SupportTicketTitle</div>

    <div class="display-label">SupportTicketContent</div>
    <div class="display-field">@Model.SupportTicketContent</div>

    <div class="display-label">Active</div>
    <div class="display-field">@Model.Active</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.SupportTicketID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


