@model IEnumerable<EncaustiCreations.Models.SupportTicket>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            SupportTicketEmail
        </th>
        <th>
            SupportTicketTitle
        </th>
        <th>
            SupportTicketContent
        </th>
        <th>
            Active
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SupportTicketID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SupportTicketID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SupportTicketID })
        </td>
        <td>
			@item.SupportTicketEmail
        </td>
        <td>
			@item.SupportTicketTitle
        </td>
        <td>
			@item.SupportTicketContent
        </td>
        <td>
			@item.Active
        </td>
    </tr>
}

</table>


