@model IEnumerable<eCaST.Models.InvoiceDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DetailTypeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DetailID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CancerTypeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillingLevelID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateLastService)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FederalAllocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StateAllocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DetailTypeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DetailID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CancerTypeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BillingLevelID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateLastService)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FederalAllocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StateAllocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
