@model eCaST.Models.LockdownLog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LockdownLog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateLock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateLock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LockDownID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
