@model IEnumerable<eCaST.ViewModels.CaseManagementViewModel>

@{
    ViewBag.Title = "Index";
}


<div class="btn-group" role="group" aria-label="...">




    <button style="background-color:#F5F5F5" id="CaseManagementEditButton" type="button" class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i></button>
    <button style="background-color:#F5F5F5" type="button" class="btn btn-default"><i class="fa fa-user" aria-hidden="true"></i>&nbsp; Case Management</button>


    @foreach (var item in Model)
    {

        <button id="CMButton_@item.CaseManagementID" type="button" class="btn btn-default">

            @item.InterventionTypeBinName<text>&nbsp;</text> @Html.FormatValue(item.InterventionDate, "{0:MM/dd/yyyy}")

        </button>

        <script type="text/javascript">


            $('#CMButton_@item.CaseManagementID').click(function () {


                $('#AccordionContentContainer').load('@Url.Action("Edit", "CaseManagements", new { id = item.CaseManagementID })');

                $('#AccGlowContainer').addClass("glowdiv");
                // Lock Screen
                $("#txtSearch").attr("disabled", "disabled");
                $('#EditMessageContainer').css("display", "block");
                $('#ScreeningToolbarContainer').css("display", "none");
                $('#FooterMenuBarContainer').css("display", "none");
                $('#CaseManagementListContainer').load('@Url.Action("_StaticCaseManagementList", "CaseManagements", new { id = ViewBag.ScreeningID, id2 = ViewBag.CancerTypeBinID })');

                $('#HomeLinkContainer').css("display", "none");
                $('#HomeNoLinkContainer').css("display", "block");

                $("#ClientButton").attr("disabled", "disabled");
                $("#ClientButton").css("opacity", "0.5");

                $("#ScreeningButton").attr("disabled", "disabled");
                $("#ScreeningButton").css("opacity", "0.5");

                // $("#ProfileButtonDown").attr("disabled", "disabled");
                $('#ProfileButtonDown').css("display", "none");
                $("#ProfileButtonDown").css("opacity", "0.5");

                $("#ClientHistoryButton").attr("disabled", "disabled");
                $("#ClientHistoryButton").css("opacity", "0.5");

                $("#SmallProfileButton").attr("disabled", "disabled");
                $("#SmallProfileButton").css("opacity", "0.5");

                $("#SmallScreeningButton").attr("disabled", "disabled");
                $("#SmallScreeningButton").css("opacity", "0.5");

                $("#SmallEnrollmentButton").attr("disabled", "disabled");
                $("#SmallEnrollmentButton").css("opacity", "0.5");

                $("#SmallLocationButton").attr("disabled", "disabled");
                $("#SmallLocationButton").css("opacity", "0.5");

                $("#ClientEditButton").attr("disabled", "disabled");
                $("#ClientEditButton").css("opacity", "0.5");

                $("#EnrollmentEditButton").attr("disabled", "disabled");
                $("#EnrollmentEditButton").css("opacity", "0.5");

                $("#MedicalHistoryEditButton").attr("disabled", "disabled");
                $("#MedicalHistoryEditButton").css("opacity", "0.5");

            });


        </script>




    }

</div>


<script type="text/javascript">


    $('#CaseManagementEditButton').click(function () {


        $('#AccordionContentContainer').load('@Url.Action("Create", "CaseManagements", new { id = ViewBag.ScreeningID, id2 = 1 })');

        // Lock Screen
        $('#AccGlowContainer').addClass("glowdiv");
        $('#EditMessageContainer').css("display", "block");
        $('#ScreeningToolbarContainer').css("display", "none");
        $('#FooterMenuBarContainer').css("display", "none");
        $('#CaseManagementListContainer').load('@Url.Action("_StaticCaseManagementList", "CaseManagements", new { id = ViewBag.ScreeningID, id2 = ViewBag.CancerTypeBinID })');

        $('#HomeLinkContainer').css("display", "none");
        $('#HomeNoLinkContainer').css("display", "block");

        $("#ClientButton").attr("disabled", "disabled");
        $("#ClientButton").css("opacity", "0.5");

        $("#ScreeningButton").attr("disabled", "disabled");
        $("#ScreeningButton").css("opacity", "0.5");

        // $("#ProfileButtonDown").attr("disabled", "disabled");
        $('#ProfileButtonDown').css("display", "none");
        $("#ProfileButtonDown").css("opacity", "0.5");

        $("#ClientHistoryButton").attr("disabled", "disabled");
        $("#ClientHistoryButton").css("opacity", "0.5");

        $("#SmallProfileButton").attr("disabled", "disabled");
        $("#SmallProfileButton").css("opacity", "0.5");

        $("#SmallScreeningButton").attr("disabled", "disabled");
        $("#SmallScreeningButton").css("opacity", "0.5");

        $("#SmallEnrollmentButton").attr("disabled", "disabled");
        $("#SmallEnrollmentButton").css("opacity", "0.5");

        $("#SmallLocationButton").attr("disabled", "disabled");
        $("#SmallLocationButton").css("opacity", "0.5");

        $("#ClientEditButton").attr("disabled", "disabled");
        $("#ClientEditButton").css("opacity", "0.5");

        $("#EnrollmentEditButton").attr("disabled", "disabled");
        $("#EnrollmentEditButton").css("opacity", "0.5");

        $("#MedicalHistoryEditButton").attr("disabled", "disabled");
        $("#MedicalHistoryEditButton").css("opacity", "0.5");

    });




</script>