<div class="row">

    <div class="col-md-12">

        <div id="tableauViz" style="height:300px; width:100%" \></div>

    </div>


</div>
<input id="StartDate" type="hidden" value="@ViewBag.StartDate">
<input id="EndDate" type="hidden" value="@ViewBag.EndDate">


<script type="text/javascript">

    // Initialise the viz to hold the workbook
    function initializeViz() {

        var placeholderDiv = document.getElementById("tableauViz");

        

        if ('@ViewBag.RoleBinID' == 1 || '@ViewBag.RoleBinID' == 13 || '@ViewBag.RoleBinID' == 3) {


            var first = $(location).attr('pathname');

            if (first = "https://www.healthinformatics.dphe.state.co.us") {


                var url = "https://cohealthviz.dphe.state.co.us/trusted/" + '@ViewBag.Ticket' + "/t/HealthInformaticsSecure/views/ICAREUNKNOWNREPORTALL/Dashboard1";

            }
            else {


                var url = "https://cohealthviz.dphe.state.co.us/trusted/" + '@ViewBag.Ticket' + "/t/HealthInformaticsSecure/views/ICAREUNKNOWNREPORTALLDEV/Dashboard1";

            }




            var options = {

                onFirstInteractive: function () {


                    var param_nameS = 'StartDate';
                    var valueS = document.getElementById('StartDate').value;

                    var param_nameE = 'EndDate';
                    var valueE = document.getElementById('EndDate').value;


                    viz.getWorkbook().changeParameterValueAsync(param_nameS, valueS);
                    viz.getWorkbook().changeParameterValueAsync(param_nameE, valueE);




                    viz.refreshDataAsync();


                }

            };


        }
        else {



            if (first = "https://www.healthinformatics.dphe.state.co.us") {


                var url = "https://cohealthviz.dphe.state.co.us/trusted/" + '@ViewBag.Ticket' + "/t/HealthInformaticsSecure/views/ICAREUNKNOWNREPORTALL/Dashboard1?AgencyName=@Html.Raw(ViewBag.AgencyName)";

            }
            else {

                var url = "https://cohealthviz.dphe.state.co.us/trusted/" + '@ViewBag.Ticket' + "/t/HealthInformaticsSecure/views/ICAREUNKNOWNREPORTALLDEV/Dashboard1?AgencyName=@Html.Raw(ViewBag.AgencyName)";

            }


            //  var url = "https://cohealthviz.dphe.state.co.us/trusted/" + '@ViewBag.Ticket' + "/t/HealthInformaticsSecure/views/ICAREUNKNOWNREPORTALL/Dashboard1?AgencyName=" + '@ViewBag.AgencyName';




            var options = {

                onFirstInteractive: function () {


                    var param_nameS = 'StartDate';
                    var valueS = document.getElementById('StartDate').value;

                    var param_nameE = 'EndDate';
                    var valueE = document.getElementById('EndDate').value;


                    var param_nameAID = 'AgencySiteID';
                    var valueAID = '@ViewBag.AgencySiteID';

                    viz.getWorkbook().changeParameterValueAsync(param_nameS, valueS);
                    viz.getWorkbook().changeParameterValueAsync(param_nameE, valueE);
                    viz.getWorkbook().changeParameterValueAsync(param_nameAID, valueAID);



                    viz.refreshDataAsync();


                }

            };

        }

        // Visit

        //     var options = {

        //       onFirstInteractive: function () {

        //       var param_nameS = 'SDate';
        //       var valueS = "01/01/2011";

        //      var param_nameE = 'EDate';
        //      var valueE = "01/07/2011";

        //      viz.getWorkbook().changeParameterValueAsync(param_nameS, valueS);
        //      viz.getWorkbook().changeParameterValueAsync(param_nameE, valueE);

        //      viz.refreshDataAsync();


        // Person

        @*var url = "https://cohealthviz.dphe.state.co.us/trusted/" + '@ViewBag.Ticket' + "/t/HealthInformaticsSecure/views/PersonParameterExperiment/Sheet1";


        var options = {

            onFirstInteractive: function () {

                var param_nameS = 'ID';
                var valueS = 3;


                viz.getWorkbook().changeParameterValueAsync(param_nameS, valueS);


                viz.refreshDataAsync();

            }
        };*@


        viz = new tableauSoftware.Viz(placeholderDiv, url, options);


    }

    //Initialize the viz after the div is created
    initializeViz();

</script>
