@model IEnumerable<CTL.ViewModels.UserProfileViewModel>

@{
    ViewBag.Title = "Active Members";
}

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        oTable = $('#ActiveAdminList').dataTable({
            "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "aaSorting": [[1, "desc"]]
        });
    });
</script>
<fieldset>
    <table style="width:100%; font-size:18px">
        <tr>
            <td>

                <div style="color:#333; font-size:28px; font-weight:300; padding-left:8px; padding-bottom:16px; padding-top:2px">Active Administrators (@ViewBag.UserCount)</div>

            </td>
            <td style="text-align:right; vertical-align:bottom">

                @*@Html.ActionLink("Add New Member", "RegisterInternalInline", new { Controller = "Account" }, new { @class = "createLinkUSER" })*@


                <a class="createLinkUSER" style="text-decoration:none; color:#fff;font-size:14px" href="@Url.Action("RegisterInternalInline", "Account")">

                    <span class="btn btn-success">Add Administrator</span>
                </a>


            </td>
        </tr>
    </table>

    <div class="demo_jui">
        <table style="width:100%; font-size:18px" id="ActiveAdminList">
            <thead>
                <tr>
                    <th></th>

                    <th>
                        Name
                    </th>

                    <th>
                        Email
                    </th>

                    @* <th>
                            Last Name
                        </th>*@
                    <th>
                        Phone Number
                    </th>
                    @*<th>
                            Organization
                        </th>*@
                    <th>
                        Access Level
                    </th>

                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="width:20%">


                        <a id="edit1Link" style="text-decoration:none" class="edit1Link" href="@Url.Action("Edit", "UserProfiles", new { id = item.UserId })">


                            <span class="btn btn-success" style="font-size:14px">Edit</span>
                        </a>





                        @* @Html.ActionLink(" ", "UserAccount", new { Controller = "Dashboards", id=item.UserId }, new { @style="font-size:20px", @class = "icon-pencil fg-darker" }) *@





                        @*  @Html.ActionLink("View", "Details", new { Controller = "UserProfiles", id=item.UserId }, new { @class = "detailsLink" }) *@


                        <a id="delete1Link" style="text-decoration:none" class="delete1Link" href="@Url.Action("Delete", "UserProfiles", new { id = item.UserId })">


                            <span class="btn btn-danger" style="font-size:14px">Delete </span>
                        </a>


                        @* @Html.ActionLink(" ", "Delete", new { Controller = "UserProfiles", id=item.UserId }, new {  @style="font-size:20px", @class = "icon-remove fg-darker" }) *@






                        @* @Html.ActionLink("Reset Password", "Manage", new { Controller = "Account", id=item.UserId }, new { @class = "passwordLink" })     *@

                    </td>

                    <td>
                        @item.FirstName
                    </td>

                    <td>
                        @item.UserName
                    </td>

                    @* <td>
                            @item.LastName
                        </td>*@
                    <td>
                        @item.PhoneNumber
                    </td>
                    @*   <td>
                            @item.OrganizationName
                        </td>*@
                    <td>
                        @item.RoleBinName
                    </td>

                </tr>
            }

        </table>
    </div>
</fieldset>
<div id="delete1Dialog" title="Delete User"></div>
<div id="update1Dialog" title="User Profile"></div>
<div id="createDialogUSER" title="Add User"></div>

<script type="text/javascript">

    var linkObj4;
    $(function () {


        $('#createDialogUSER').dialog({
            autoOpen: false,
            width: 900,
            height: 400,
            resizable: true,
            modal: true,
            buttons: {
                "Add": function () {
                    $("#update-message").html(''); //make sure there is nothing on the message before we continue
                    $("#addUSERForm").submit();

                },
                "Cancel": function () {
                    $(this).dialog("close");
                }



            }
        });

        $(".createLinkUSER").click(function () {
            //change the title of the dialog
            linkObj4 = $(this);
            var dialogDiv = $('#createDialogUSER');
            var viewUrl = linkObj4.attr('href');
            $.get(viewUrl, function (data) {
                dialogDiv.html(data);
                //validation
                var $form = $("#addUSERForm");
                // Unbind existing validation
                //$form.unbind();
                //$form.data("validator", null);
                // Check document for changes
                //$.validator.unobtrusive.parse(document);
                // Re add validation with changes
                //$form.validate($form.data("unobtrusiveValidation").options);
                //open dialog
                dialogDiv.dialog('open');
            });
            return false;
        });

    });



    var linkObj;
    $(function () {
        $(".edit1Link").button();
        $(".detailsLink").button();
        $(".createLinkUSER").button();
        //$(".delete1Link").button();
        $(".passwordLink").button();

        $('#update1Dialog').dialog({
            autoOpen: false,
            width: 750,
            height: 440,
            resizable: true,
            modal: true,
            buttons: {
                "Update": function () {
                    $("#update-message").html(''); //make sure there is nothing on the message before we continue
                    $("#updateUserForm").submit();

                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $(".edit1Link").click(function () {
            //change the title of the dialog
            linkObj = $(this);
            var dialogDiv = $('#update1Dialog');
            var viewUrl = linkObj.attr('href');
            $.get(viewUrl, function (data) {
                dialogDiv.html(data);
                //validation
                var $form = $("#updateCarForm");
                // Unbind existing validation
                //$form.unbind();
                //$form.data("validator", null);
                // Check document for changes
                //$.validator.unobtrusive.parse(document);
                // Re add validation with changes
                //$form.validate($form.data("unobtrusiveValidation").options);
                //open dialog
                dialogDiv.dialog('open');
            });
            return false;
        });


    });


    var linkObj3;
    $(function () {
        $(".delete1Link").button();

        $('#delete1Dialog').dialog({
            autoOpen: false,
            width: 900,
            height: 400,
            resizable: true,
            modal: true,
            buttons: {
                "Delete": function () {
                    $("#update-message").html(''); //make sure there is nothing on the message before we continue
                    $("#deleteUserForm").submit();

                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $(".delete1Link").click(function () {
            //change the title of the dialog
            linkObj3 = $(this);
            var dialogDiv = $('#delete1Dialog');
            var viewUrl = linkObj3.attr('href');
            $.get(viewUrl, function (data) {
                dialogDiv.html(data);
                //open dialog
                dialogDiv.dialog('open');
            });
            return false;
        });

    });

    function updateSuccess(data) {
        if (data.Success == true) {
            //we update the table's info
            var parent = linkObj.closest("tr");
            parent.find(".carName").html(data.Object.Name);
            parent.find(".carDescription").html(data.Object.Description);
            //now we can close the dialog
            $('#delete1Dialog').dialog('close');
            //twitter type notification
            $('#commonMessage').html("Update Complete");
            $('#commonMessage').delay(400).slideDown(400).delay(3000).slideUp(400);
        }
        else {
            $("#update-message").html(data.ErrorMessage);
            $("#update-message").show();
        }
    }

</script>